.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
        }
    }

.clients-list {
            margin-bottom: -30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;   
       @include mobile{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: -30px;
            margin-right: -30px;
                    }
                        @include tablet {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                margin-right: -30px;
                                margin-bottom: -30px;
                            }
                        
                                            @include desktop {
                                                    display: flex;
                                                    flex-wrap: wrap;
                                                    justify-content: center;
                                                    margin-right: -30px;
                                                    margin-bottom: -30px;

                                            
                                                }
   
}


.clients-list__item{
    margin-bottom: 30px;
    width: 210px;
    height: 92px;
    width: calc(100% / 2 -30px);

    @include mobile{
    margin-right: 30px;
    margin-bottom: 30px;
    width: 210px;
    height: 92px;
    width: calc(100% / 2 -30px);
    } 
            @include tablet {
                width: 226px;
                height: 92px;
                margin-right: 30px;
                margin-bottom: 30px;
                width: calc(100% / 3 -30px);
            }
                                   @include desktop {
                                       width: 170px;
                                       height: 92px;
                                       margin-right: 30px;
                                       width: calc(100% / 6 -30px);
                                   }
        
            
}

.clients-list__link {
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    fill: #AFB1B8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
    fill: #2196F3;
    border: 1px solid #2196F3;
        }
    
    &:focus {
    fill: #2196F3;
    border: 1px solid #2196F3;
        } 
                @include mobile {
                    
                    width: 210px;
                    height: 92px;
                    
                }
        
                @include tablet {
                    width: 226px;
                    height: 92px;
                    
                }
        
                @include desktop {
                    width: 170px;
                    height: 92px;
                    
                }
                 
    }

.clients-list__link:hover {
    fill: #2196F3;
    border: 1px solid #2196F3;
}

.clients-list__:focus {
    fill: #2196F3;
    border: 1px solid #2196F3;
}


.client-list__icon {
    fill: currentFill;
}