.proposition {
    padding-top: 60px;
    padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.proposition__list {
    margin-bottom: -30px;
    @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-right: -30px;
            margin-bottom: -30px;
    }
    @include desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -30px;
       
    }
    
}
.proposition__block{
    margin-bottom: 30px;  
    @include tablet {
            margin-right: 30px;
            margin-bottom: 30px;
            width: calc(100% / 2 -30px);
    }
    
    @include desktop {
            margin-right: 30px;
            width: calc(100% / 4 -30px);
    }
    

}

.proposition__item {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.proposition__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-title-color-second);
    @include mobile {
        width: 100%;
        }
    @include tablet {
        max-width: 354px;
        }
    @include desktop {
        max-width: 270px;
    }
       
    
}
