.products {
    padding-bottom: 94px;
}

.products__list {
    display: flex;
}

.products__item:not(:last-child) {
    margin-right: 30px;
}

.products__img {
    display: flex;
}

.products__text {
    position: relative;
}

.products__title-text {
    position: absolute;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    bottom: 0;
    line-height: 1.14;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}