.team {
    background: #F5F4FA;
    padding-top: 60px;
    padding-bottom: 60px;
        @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team-list {
    margin-bottom: -30px;
    @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-right: -30px;
            margin-bottom: -30px;
    }
    
    @include desktop {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-right: -30px;
    
    }
}

.team-block {
    
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @include mobile {
            width: 450px;
        }
    
        @include tablet {
            width: 354px;
        }
    
        @include desktop {
            width: 270px;
        }
}

.team-list__block{
    margin-bottom: 30px;
        @include mobile {
            margin-bottom: 30px;
        }
    
        @include tablet {
            margin-right: 30px;
            margin-bottom: 30px;
            width: calc(100% / 2 -30px);
        }
    
        @include desktop {
            margin-right: 30px;
            width: calc(100% / 4 -30px);
        }
}
.team-block__img{
    width: 100%;
}


.team-block__group {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-block__text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-title-color-second);
    margin-bottom: 16px;
}

.team-block__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.team-block__icon {
    fill: currentColor;
}

.team-block__soc {
    display: flex;
    justify-content: center;
}

// .team-block__item+.team-block__item {
//     margin-left: 10px;
// }