.hero__button {
    background-color: var(--main-btn-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-btn-title-color);
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
            background-color: #188CE8;
        }
    
    &:focus {
            background-color: #188CE8;
        }
}
.footer-input-group__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    text-align: left;
    padding-left: 29px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: relative;
}

.portfolio__button {
    font-family: roboto, Tahoma, sans-serif;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 6px 22px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: var(--main-btn-color);
        color: var(--main-btn-title-color);
    }

    &:focus {
        background-color: var(--main-btn-color);
        color: var(--main-btn-title-color);
    }
}
.header__menu-btn {
    margin-left: auto;
    width: 40px;
    height: 40px;
    border: none;
    align-items: center;
    background-color:transparent;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
            fill: #188CE8;
        }
    
    &:focus {
            fill: #188CE8;
        }
        @include tablet {
            display: none;
        }
        @include desktop {
            display: none;
        }
}
.mob-menu__close-btn{
    width: 40px;
    height: 40px;
    fill: #212121;
    border: none;
    display:block;
    margin-left: auto;
    align-items: center;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover {
            fill: #188CE8;
        }
    
        &:focus {
            fill: #188CE8;
        }
}

