.header__logo {
    font-family: 'Raleway', Tahoma, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    @include tablet {
            margin-right: 88px;
        }
    @include desktop {
            margin-right: 93px;
        }
}

.header__logo-second {
    font-family: 'Raleway', Tahoma, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-color-second)
}
.footer-group__logo {
    font-family: 'Raleway', Tahoma, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-color-second);
    display: block;
    text-align: center;
    @include desktop {
            text-align: left;
        }
   
}


.footer-group__logo-second {
    font-family: 'Raleway', Tahoma, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-color-second);
}