.menu-list {
    display: none;
    @include tablet {
            display: flex;
    }
    @include tablet {
            display: flex;
                 }
}
.header .container {
    display: flex;
    align-items: center;
}

.menu-list__link-first {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color-second);
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;
    position: relative;
    &::after {
        content: "";
        width: 100%;
        height: 4px;
        background: #2196F3;
        border-radius: 2px;
        display: block;
        bottom: 0;
        position: absolute;  
    }        
}



.menu-list__link-second {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;
    color: var(--header-color-third);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: var(--header-color-second)
    }

    &:focus {
        color: var(--header-color-second)
    }
}

.menu-list__item:not(:last-child) {
    margin-right: 50px;
}
.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    padding-top:10px;
    padding-bottom: 48px;
    transition: visibility 1500ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 1500ms cubic-bezier(0.4, 0, 0.2, 1);
        .container{
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;

        }
    
}
.mob-menu-list__link-second {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: block;
    color: var(--header-color-third);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: var(--header-color-second)
    }

    &:focus {
        color: var(--header-color-second)
    }
}
.mob-menu-list__link-first {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--header-color-second);
    display: block;
}
.mob-menu-list__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-menu__tel{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.mob-menu__mail{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
}
.mob-menu__conect-item:not(:last-child) {
    margin-bottom: 32px;
}
.mob-menu__conect{
    margin-bottom: 64px;
}
.mob-menu-top{
    width: 100%;
}
.mob-menu__soc-list{
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
}
.no-scroll {
      overflow: hidden;
  }

.mob-menu__soc-link {
      display: block;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      color: #2196F3;
      position: relative;
  }
.mob-menu__soc-item {
    margin-right: 10px;
    margin-left: 10px;
    &:not(:last-child) {
    .mob-menu__soc-link {
            &::after {
            content: "";
            width: 22px;
            height: 0px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
            position: absolute;
            bottom: 10px;
             }
            }
    }
}