.hero__title {
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--title-color-second);
    margin-bottom: 30px;
    @include mobile {
        font-size: 26px;
        line-height: 1.62;
    }
    @include tablet {
        font-size: 26px;
        line-height: 1.62;
    }
    @include desktop {
         font-size: 44px;
         line-height: 1.68;
    }
}
.proposition__title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-title-color-first);
    margin-bottom: 10px;
    @include tablet {
            text-align: left;
                 }
        
     @include desktop {
            text-align: left;
                 }

    
}
.products__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color-first);
    margin-bottom: 50px;
}
.team-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color-first);
        @include desktop {
                font-size: 36px;
                line-height: 1.16;
            }
        }

.team__title {
    margin-bottom: 30px;
        @include desktop {
            margin-bottom: 50px;
        }
}
.team-block__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color-first);
    margin-bottom: 10px;

}
.clients-title {
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    @include desktop {
            font-size: 36px;
            line-height: 1.16;
        }

}

.clients__title {
    margin-bottom: 30px;
        @include desktop {
            margin-bottom: 50px;
        }
}