:root {
    --header-color-first: #757575;
    --header-color-second: #2196F3;
    --header-color-third: #212121;
    --title-color-first: #757575;
    --title-color-second: #FFFFFF;
    --main-btn-color: #2196F3;
    --main-btn-title-color: #FFFFFF;
    --main-title-color-first: #212121;
    --main-title-color-second: #757575;
}



